@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 7px
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fffafa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8f3f3; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7878; 
  }